.exitbackground {
	-fx-border-radius: 5.0;
    -fx-border-color:#cccccc;
    -fx-border-width: 10.0px;
    -fx-background-radius: 20.0;
}

.btnControl {
	-fx-background-color: transparent;
	-fx-background-radius: 25.0;
}

.btnImage {
	-fx-border-radius: 100.0;
}

.boxbackground{
	-fx-background-color: #5B7484;
	-fx-background-radius: 25.0;
	-fx-border-color: #cccccc;
	-fx-border-radius: 25.0;
}