/*.controlbackground {
	-fx-background-radius: 15.0px;
	-fx-background-image: url("images/graybackground.jpg"); 
        -fx-background-color:white;
}*/

#btnOnOff{
    -fx-color: paleturquoise;
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-background-color: linear-gradient(wheat,blanchedalmond);
    -fx-effect: dropshadow(three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 ); 
}

#btnOnOff:selected {
    -fx-background-color:
        -fx-shadow-highlight-color,
        linear-gradient(to bottom, derive(-fx-color,-22%) 0%, derive(-fx-color,-15%) 100%),
        linear-gradient(to bottom, derive(-fx-color,-15%) 0%, derive(-fx-color,-10%) 50%, derive(-fx-color,-8%) 98%, derive(-fx-color,-12%) 100%);
}


.gasImage{
    -fx-background-size: stretch;
}