#mainBackground {
    -fx-background-image:url("images/graybackground.jpg");
    -fx-background-size:stretch;
}

#mainButton {
    -fx-background-radius:75;
    -fx-border-radius:75; 
}

#buttonLabel1 {
    -fx-background-color:linear-gradient(#cc66ff, #cc00cc); 
}

#buttonLabel2 {
    -fx-background-color:linear-gradient(#99ffff, #009999); 
}

#buttonLabel3 {
    -fx-background-color:linear-gradient(#ffcc66, #ff6600); 
}

#buttonLabel4 {
    -fx-background-color:linear-gradient(#ffff66, #ff9900); 
}

#buttonLabel5 {
    -fx-background-color:linear-gradient(#99ff99, #00cc00); 
}
/*reference {
    -fx-background-color:linear-gradient(#ff9900); 
}*/
