.mainbackground {
	-fx-background-radius: 15.0px;
	-fx-background-image: url("image/graybackground.jpg"); 
	-fx-background-size:stretch;
}

.stackContents {
	-fx-background-color: transparent;
}

/*
#horizontalSep {
	-fx-region-background: #5B7484;
}
*/