/* If you want you can use font-face */
@font-face {
}

.container {
    margin: 0 auto;
    overflow: hidden;
}

.clock {
    margin: 0 auto;
    padding: 10px;
    color: #fff;
}

#Date {
    font-size: 3vw;
    text-align: right;
    text-shadow: 0 0 5px #00c6ff;
    padding-right: 1vw;
}

.clockul {
    margin: 0 auto;
    padding: 0px;
    list-style: none;
    text-align: right;
    padding-right: 1vw;
}

.clockul .clockli {
	display: inline;
    font-size: 8.5vw;
    text-align: right;
}
.clockul .clocklis {
	margin-left: 0.5vw;
	display: inline;
    font-size: 3.5vw;
    text-align: right;
    color: #999999;
}

#point {
    position: relative;
    padding-left: 7px;
    padding-right: 7px;
}

/* Simple Animation */
@-webkit-keyframes mymove {
    0% {opacity: 1.0;
    /*text-shadow: 0 0 20px #00c6ff;*/
}

50% {
    opacity: 0;
    text-shadow: none;
}

100% {
    opacity: 1.0;
    /*text-shadow: 0 0 20px #00c6ff;*/
}	
}

@-moz-keyframes mymove {
    0% {
        opacity: 1.0;
        text-shadow: 0 0 20px #00c6ff;
    }

    50% {
        opacity: 0;
        text-shadow: none;
    }

    100% {
        opacity: 1.0;
        text-shadow: 0 0 20px #00c6ff;
    };
}