input{display:none}

.on,.off{
position:absolute;
text-align:center;
-webkit-text-shadow:inset 1px 1px 1px black;
width:100%;
}
.on{
color:#bbb;
top:5px;
	-webkit-transition:all 0.1s;
font-family:sans-serif
}
.off{
bottom:2.5px;
	-webkit-transition:all 0.1s;
transform:scaleY(0.85);
}
.but{
	background-color:#272727;
	border-radius:200px 200px 200px 200px / 200px 200px 150px 150px;
	border-bottom-width:0px;
	box-shadow:
		inset 4px 3px 2.5px -3.5px rgba(0,0,0,1)
		,inset -4px 3px 2.5px -3.5px rgba(0,0,0,1)
		,inset 0 -1.5px 1px -1px rgba(200,200,200,.5)
		,0 1.5px 1.5px -1px rgba(0,0,0,1)
		,inset 0 -115px 30px -100px rgba(255,255,255,.2)
		,inset 0 110px 20px -100px rgba(0,0,0,.3);
	display:block;
	font-size:16px;
	height:89px;
	position:relative;
	-webkit-transition:all 0.2s;
	width:100px;
}
.back{
	background-color:black;
	background-image:
		-webkit-linear-gradient(0deg, transparent 30%, transparent 70%)
		,-webkit-linear-gradient(90deg, rgba(150,150,150,0) 30%, rgba(150,150,150,.2) 50%, rgba(150,150,150,0) 70%);
	border-radius:52.5px;
	box-shadow:
		15px 15px 15px -10px rgba(0,0,0,.3)
		,-15px 15px 15px -10px rgba(0,0,0,.3)
		,0 15px 15px 0px rgba(0,0,0,.3)
		,inset 0 -0.5px 0 0 #333;
	box-sizing:border-box;
	height:105px;
	padding:2px 2px;
	-webkit-transition:all 0.2s;
	width:105px;
}


.round{
	background:black;
	background:-webkit-linear-gradient(270deg, #444 ,  #222);
	-webkit-box-sizing:border-box;
	box-shadow:
		0px 0px 0px 4px rgba(0,0,0,.1)
		,0px 0px 1.5px 0.5px rgba(0,0,0,1)
		,inset 0 4px  1.5px -4px rgba(255,255,255,.4);
	height:130px;
	padding:12.5px;
	width:130px;
}

input:checked + .back .on,input:checked + .back .off{
	text-shadow:inset 0.5px 0.5px 0.5px black;
}
input:checked + .back .on{
	color:#222;
	top:5px;
	-webkit-transform:scaleY(0.85);
}
input:checked + .back .off{
	color:#bbb;
	bottom:2.5px;
	-webkit-transform:scaleY(1);
}
input:checked + .back .but{
	background:#232323;
	background-image:-webkit-radial-gradient(50% 15%,circle closest-corner,rgba(0,0,0,.3) ,rgba(0,0,0,0));
	border-radius:200px 200px 200px 200px / 150px 150px 200px 200px;
	box-shadow:
		inset 4px -2px 2.5px -3.5px rgba(0,0,0,1)
		,inset -4px -2px 2.5px -3.5px rgba(0,0,0,1)
		, 0 -1.5px 4px -2px rgba(250,250,250,.4)
		,inset 0 1.5px 2px -1px rgba(10,10,10,1)
		,inset 0 140px 20px -100px rgba(0,0,0,.2)
		,inset 0 -100px 10px -50px rgba(180,180,180,.2);
	margin-top:10px;
}
input:checked + .back{
	background-image:
		-webkit-linear-gradient(90deg, black 30%, transparent 70%)
		,-webkit-linear-gradient(180deg, rgba(250,250,250,0) 0%, rgba(250,250,250,.4) 50%, rgba(150,150,150,0) 100%);
	box-shadow:
		15px 15px 15px -10px rgba(0,0,0,.1)
		,-15px 15px 15px -10px rgba(0,0,0,.1)
		,0 15px 15px 0px rgba(0,0,0,.2)
		,inset 0 0.5px 1px 0 rgba(0,0,0,.6);
	padding:1px 2.5px;
}