#txtDisplay {
	 -fx-text-alignment:center;
	 -fx-font-color:blue;
}

#mainDisplay {
	 -fx-background-color: aliceblue;
}

#callMenuButton {
	 
	 -fx-border-radius: 60 60 0 0;
	 -fx-background-radius: 60 60 0 0;
}